@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    
}
<section class="d-flex flex-row justify-content-around flex-wrap mb-4" >
    <h2 class="col-10"><a>Mon Profil</a></h2>
        
    <div class="col-4 border-secondary border m-2">
       <p>Nom:</p>
       <p>Prénom:</p>
    </div>
   <div class="col-4 border-secondary border m-2">
       <p>Mes animaux:</p>
       <p> </p>
     </div>

    <div class="col-4 border-secondary border m-2">
        <p>
           Adresse:
        </p>
        </div>

     <div class="col-4 border-secondary border m-2">
         <p>Pseudo</p>
         <p>mot de passe</p>
            <p>e-mail</p>
     </div>

      <div class="col-10  border-secondary border m-2">
          <p>Modifier mes infos</p>    
            </div>
    
</section>

<section class="d-flex flex-row flex-wrap justify-content-around  mt-4 border-secondary border col-12 ">
    <h2 class="col-12 text-center">Mes Achats</h2>
    <div class="col-12 border-secondary border d-flex flex-row flex-wrap justify-content-around">
        <div class="col-4">Achat</div>
        <div class="col-4">Id produit</div>
        <div class="col-4">Prix</div>
    </div>
    
</section>